header{
    width:100%;
    .riban{
        position:absolute;
        text-align: center;
        width:100%;
        a{
            position:relative;
            display:block;
            width:$col_4;
            margin:auto;
            z-index:2;
        }  
        
    }
    nav{
        position:relative;
        top:0;
        padding: 1.5em 0;
        width:100%;
        background-color: white;
        li{
            @include list_horizontal;
            a{
                color:black;
                font-size:2em;
                text-decoration: none;
                
                padding:0.5em 10px;
                @include transition_duration(0.2s);
                position:relative;
                z-index:3;
                &:hover{
                    text-decoration: underline;
                    color:$red;
                }
            }

            &:nth-child(3) a{
                margin-left:$col_4 + 80px;
            }
            &:nth-last-child(n+2) a{
                margin-right:80px;
            }
        }
        ul{
            @include center_body;
        }
    }
}
.banniere{
    width:100%;
    position:relative;
    color:white;
    background-color:#282828;
    ul{
        @include center_body;
        li{
            @include list_horizontal;
            width:$col_6 + $gutter;
            padding:1.5em 0;
            font-size: 2em;
            text-align: center;
        }
        li+li{
            margin-left:$col_4;
        }
    }
}