.presentation{
    @include center_body();
    @include clearFloat;
    &>*{
        float:left;
    }
}
.aboutMe{
    @include center_body();
    @include clearFloat;
    &>*{
        float:right;
    }
}
.accrocheAboutMe{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-style: italic;
    width:$col_6;
    //float:left;
    margin-right:80px;
    font-size: 2em;
    margin-top:6em;
}
.accroche{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-style: italic;
    width:$col_6;
    //float:left;
    margin-left:80px;
    font-size: 2em;
    margin-top:6em;
}